images/how can I do it so that the choose file is under the drg and drop like 'drag and drop your file or choose file' and u can do both and the box  option to uplaod dissappears when you do drag and dro.png
