* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
}

.dta-container{
    padding: 0 30px;
    justify-items: center;
    display: flex;
    flex-wrap:nowrap;
    width:100vw;
    height:auto;
    padding-bottom: 100px;
    gap: 20px;
    
    
}
.side-boxes{
    max-width: 400px;
}


.faq-items-container{
    display:flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-color:  #330072;
    width: 100vw;
    box-sizing:border-box;
    padding-top: 40px;
    width: 100vw; 
    height: auto; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    
    
   
    
}

.faq-items-container .faq-title{
    border:#5a5757;
}

.faq-items-box{
    gap: 10px;
    
    width: 650px;
    align-items: center;
}
.faq-container{
    justify-content: center;
    
    
}

.faq-items-container h1{
    color:#F2A900;
    
} 
.faq-items-container p{
    color:rgb(41, 38, 38);
    
}
.faq-items-container h2{
    color: white;
    padding: 20px 0;
    font-weight: bold;
    font-size: 16px;
    
}
.dta-container h1{
    font-weight: bold;
    color: #330072;
}
.dta-container h2{
    font-weight: bold;
    color: #330072;
}
.dta-container h3{
    font-weight: bold;
    color: #330072;
}
.quick-link-container{
    
    flex: 1; 
    max-width: 400px;
    padding: 20px;
    
    align-self: flex-start;
    box-sizing: border-box;

}
.dta-container a:hover {
    color: #330072;
    background-color: #EBA900;
    transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
.quick-link-container hr{
    height: 3px;
    width: 200px;
    background-color: #330072;
}

.dta-text-container{
    flex: 2;
    box-sizing: border-box;
    max-width: 750px;
}
.quick-link-container {
    flex: 1; 
    max-width: 300px;
    width: 100%;
    padding-bottom: 20px;
    
    margin-right: 15px;
    align-self: flex-start;
    box-sizing: border-box;
    
}
.quick-link-container h2{
    font-weight: bold;
    color: #330072; 
}
.quick-link-container hr{
    height: 3px;
    width: 150px;
    background-color: #330072;
}

.quick-link-container h2 {
    font-weight: bold;
    color: #330072;
}

.quick-link-container hr {
    height: 3px;
    width: 200px;
    background-color: #330072;
}

.quick-link-container a {
    position: relative; 
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    padding: 4px;
    
    padding-bottom: 6px;
    font-size: 20px;
    text-decoration: none;
    color: #000; 
    display: block; 
   
     
}

.one {
    border: #2a2a2a18 solid 0.1px;
    border-top: 0.0001px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 720px;
    height: auto;    
    display: flex;
    gap: 35px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.one:hover {
    transform: scale(1.05); /* Grow the element by 5% */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Increase box shadow */
    border-top:#330072 solid 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.two {
    border: #2a2a2a18 solid 0.1px;
    border-top: 0.0001px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 720px;
    display: flex;
    gap: 35px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.two:hover {
    transform: scale(1.05); /* Grow the element by 5% */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Increase box shadow */
    border-top:#330072 solid 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.three {
    border: #2a2a2a18 solid 0.1px;
    border-top: 0.0001px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: 720px;
    display: flex;
    gap: 35px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.three:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
    border-top:#330072 solid 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.two:hover {
    transform: scale(1.05); /* Grow the element by 5% */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); /* Increase box shadow */
    border-top:#330072 solid 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.four {
    border: #2a2a2a18 solid 0.1px;
    border-top: 0.0001px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    width: px;
    display: flex;
    gap: 35px;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.four:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5); 
    border-top:#330072 solid 4px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



.the-process-box{
    margin: 20px;
}
.the-process-box h2{
 
    padding: 78px 10px;
    font-size: 20px;
    font-weight: normal;
    color: rgb(31, 31, 31);

}
.the-process-box img{
    max-width: 200px;
    max-height: auto;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    display: block;
   /* filter: brightness(0) saturate(100%) invert(37%) sepia(51%) saturate(572%) hue-rotate(241deg) brightness(95%) contrast(103%);*/
}



.why-box h2{
    font-weight: bold;
    font-size: 30px;

    padding: 10px;
}



/* Previous css from textbook101*/
.faq-container {
    width: 100%;
    max-width: 800px; 
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
  
}


.faq-item {

    
    overflow: hidden;
    width: 650px;

}


.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
    color:#2a2a2a;
    background-color: white;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid;
    border-radius: 1px;
    border-color:#acacac;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
   
    
}
.faq-question:hover {
    color:#330072;

}
.faq-question[aria-expanded="true"]{
    color: #330072;
    font-weight: bold;
    margin-top: 5px;
    border-top:#EBA900 solid 5px;
    transition: ease-in-out 0.3s;
    
}
.banner-img {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.banner-img img {
    max-width: 1024px;
    max-height: 400px;
    width: 100%; 
    height: 300px;
    object-fit: cover;
    display: block;
}

.link-box-container {
   
    max-width: 250px;
    max-height: 500px;
    padding: 10px 0px;
    background-color: #f9f9f9; 
    margin-right: 15px;
    align-self: flex-start;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
   
   
}
.link-box-container a {
    position: relative; 
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    margin-left: 15px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000; 
    display: block; 
   
     
}

.link-box-container a:hover{
    background-color: #F2A900;
    transition: 0.3s ease-in-out;
   
    
}

.link-box-container h2 {
    font-weight: bold;
    color: #330072; 
    font-size: 24px;
    
}

.link-box-container hr {
    height: 3px;
    width: auto;
    background-color: #330072; 
    margin-bottom:30px;
    
}


.link-box-container a {
    position: relative; 
    display: inline-block;
    flex-direction: column;
    margin: 0px;
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #000; 
    display: block; 
   
     
}
.link-box-container a:hover{
    background-color: #F2A900;
    transition: 0.3s ease-in-out;
    
}



.faq-question .arrow {
    border: solid gray;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.faq-question[aria-expanded="true"] .arrow {
    transform: rotate(-135deg);
    border-color: #330072
}

.faq-answer p, .faq-answer li{
    font-size: 14px;
    line-height: 25.6px;
    color: black;
    
    

    
    
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 15px;
    background-color: white;
    padding-left: 30px;
    color: #333;
}



.faq-answer.open {
    max-height: 500px; 
    padding: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom:5px;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}
/* huh*/

.publisher-info-box, .contact-box{
    width: 300px;

}
.side-boxes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    margin: 20px 0;
}